{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Site{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>My Site</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/users/register/">Register</a></li>
                <li><a href="/users/login/">Login</a></li>
                <!-- Add other links here -->
            </ul>
        </nav>
    </header>
    <div>
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        <p>My Site © 2024</p>
    </footer>
</body>
</html>
